
.DS_Store
public
yugo
.oldgit
static/css/hyde-min.css
static/css/poole-min.css
static/css/stylesheet-min.css
static/css/stylesheet.css
static/css/syntax-min.css
hugo-server.sh
new-post.sh
new-class.sh

## git starred
layouts/shortcodes/ghStarred.html
content/data/github

## leave out custom YT shortocde
layouts/shortcodes/youtube.html
