{{ template "partials/header.html" . }}
<body lang="en" itemscope itemtype="http://schema.org/Article">

  <div id="topbar">
    <div class="wrapper">
      <header>
        {{ template "partials/sidebar.html" . }}

        {{ $baseurl := .Site.BaseURL }}
      </header>
    </div>
  </div>

  <div class="wrapper">
    <div class="units-row">
      <div class="unit-20 dateblock"><h5>from <time>{{ .Date.Format "Jan 2006"}} to {{ .Params.enddate | dateFormat "Jan 2006" }}</time></h5>
        Offered through {{ .Params.host }}
        <br/>
        {{ if ge .Date.Unix now.Unix }}{{ if (le .Date.Unix (add now.Unix 9072000)) }}<span class="badge badge-small badge-yellow">coming soon</span>{{ end }}{{ end }}
        {{ if (le .Date.Unix now.Unix) }}{{ if (le now.Unix (add .Date.Unix .Params.duration)) }}<span class="badge badge-small badge-green">now on</span>{{ end }}{{ end }}
        <p>{{ if .Params.syllabus }}<p><a href="{{.Site.BaseURL}}files/teaching/{{.Params.syllabus}}" class="small"><i class="fa fa-file-pdf-o"></i>&nbsp;Download Syllabus</a></p>{{ end }}</p>
      </div>
      <div class="unit-centered unit-60">
        <article class="post" id="content">
        <h3>{{ .Title }}</h3>
        {{ .Content }}
        </article>
        <hr>
        {{ if .PrevInSection }}
        <a href="{{ .PrevInSection.Permalink }}"> &larr;&nbsp;{{ .PrevInSection.Title }}</a> | {{ end }}
        <a href="{{ .Site.BaseURL }}teaching">Teaching Archive</a>
        {{ if .NextInSection }} | <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}&nbsp;&rarr;</a> {{ end }}
      </div>
    </div>
  </div>
  <hr class="separator">

  {{ partial "whatisthis.html" . }}

  {{ partial "footer.html" . }}
