<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    {{ partial "meta.html" . }}

    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    {{ partial "head_includes.html" . }}
  </head>
  <body>
<body>
	<div id="topbar">
		<div class="wrapper">
			<header>
				{{ partial "sidebar.html" . }}
			</header>
		</div>
	</div>

<div class="wrapper">

<div class="units-row">

<div class="unit-50">
<h2>404: Page Not Found</h2>
<p class="big">
	There is no page here at the address you requested. Perhaps try a search to find what you are looking for?
</p>
					<form method="get" action="http://duckduckgo.com/">
				<input type="search" name="q" maxlength="255" placeholder="Search cgoodman.com">
			<input type="hidden" name="sites" value="cgoodman.com"/>
			   <input type="hidden" name="ka" value="Alegreya"/>
			   <input type="hidden" name="k7" value="#faf8f8"/>
			   <input type="hidden" name="kj" value="#b33"/>
			   <input type="hidden" name="ky" value="#fafafa"/>
			   <input type="hidden" name="kx" value="b"/>
			   <input type="hidden" name="ko" value="-1"/>
			   <input type="hidden" name="k1" value="-1"/>
			   <input type="hidden" name="kt" value="Alegreya Sans"/>
			   <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" /></form>
</div>

<div class="unit-50">
<h2>Recent Posts</h2>
<ul class="compact fa-ul">
        {{ range first 4 (where .Data.Pages.ByDate "Section" "blog").Reverse }}
<li><i class="fa-li fa fa-newspaper-o fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i> <a href="{{ .Permalink }}">{{ .Title | safeHTML }}</a>{{if not (isset .Params "grlog") }}, <time><em>{{ .Date.Format "January 2, 2006" }}</em></time>{{ end }} </li>
		{{ end }}
</ul>



<footer class="group">
<nav class="navbar navbar-right"><a href="blog">&rarr; All Posts</a></nav>
</footer>

<h2>Recent Research</h2>
<ul class="compact fa-ul">
        {{ range first 4 (where .Data.Pages.ByDate "Section" "research").Reverse }}
				<li><i class="fa-li fa  {{ if eq .Type "unpublished" }}fa-file-o {{ else if eq .Params.kind "book" }}fa-book {{ else }}fa-file {{ end }} fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i> {{ .Params.citation | safeHTML }}
					<a href="{{ .Permalink }}" class="badge badge-small">Abstract</a>
					{{ if isset .Params "file" }}<a href="{{.Site.BaseURL}}files/papers/{{ .Params.file }}" class="badge badge-small"><i class="fa fa-file-pdf-o"></i>&nbsp;pdf</a>{{ end }}
				</li>
		{{ end }}
</ul>

<footer class="group">
<nav class="navbar navbar-right"><a href="research">&rarr; All Research</a></nav>
</footer>


</div>
</div>

</div><!-- /end .wrapper -->


<hr class="separator">

{{ partial "whatisthis.html" . }}

{{ partial "foot.html" . }}
</body>
</html>
